@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 10%;
    padding-right: 10%;
}

#header_logo_text {
    font-size: 24px;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    column-gap: 20px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.section-1-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section-1-main-text {
    font-size: 48px ;
    font-weight: bolder;
    padding-bottom: 0%;
    margin: 0%;
}

.section-1-subtext {
    font-size: 18px ;
    color: #E5E7EB;
    margin: 0%;
}

#signup_btn_1 {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0px;
    width: 25%;
    padding: 10px 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.section-1-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: beige;
    height: 100%;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9FAF8;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.section-2-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.section-2-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#1F2937;
    font-size: 18px;

}

.section-2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-information {
    font-size: 30px;
    font-weight: bold;
    text-align: end;
}

.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9FAF8;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.section-4-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
    background-color: #3882F6;
    padding: 50px 150px;
    border-radius: 10px;
}

.section-4-content-text {
    display: flex;
    flex-direction: column;
}

.section-4-head-text {
    font-size: 36px;
    font-weight: bolder;
    margin: 0%;
}

.section-4-sub-text {
    font-size: 24px;
    margin: 0%;
}

#signup_btn {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 5%;
}